.services {
    display: flex;
    gap: 3rem;

    &__container {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 2rem;
        position: relative;
        z-index: 10;
        margin-top: 160px;
        margin-bottom: 220px;

        @media (min-width: 1024px) {
            gap: 2rem;
            margin-top: 400px;
            margin-bottom: 120px;
        }
    }

    &__header {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        position: relative;
        padding-bottom: 1rem;
    
        &::after {
            content: "";
            position: absolute;
            bottom: 0rem;
            left: 0;
            width: 100%;
            height: 1px;
            background-color: rgba(255, 255, 255, 0.2);
        }

        a {
            margin-right: 0;
        }


        &__title {
            overflow: hidden;
            height: auto;
            padding-bottom: 0;

             h2 {
                color: white;
            }
        }

        @media (min-width: 1024px) {
            padding-bottom: 0;

            &__title {
                padding-bottom: 1rem;
            }
        }
    }

    &__list {
        display: none;

        &__selected-block {
            background-color: white;
            position: absolute;
            z-index: 1;
            margin-top: -1px;
            height: 81px;
            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
        }

        button, &__selected-block {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            text-align: left;
            padding: 0 1.75rem;
            gap: 0.25rem;
            width: 100%;
            height: 64px;

            h5 {
                font-family: var(--font-poppins);
                font-size: 18px;
                font-weight: 500;
            }

            p {
                font-size: 14px;
            }
        }

        button {
            cursor: pointer;
            position: relative; 
            transition: background-color 0.2s ease;

            &:hover {
                background-color: rgba(255, 255, 255, 0.1);
            }

            h5 {
                color: white;
            }

            p {
                color: var(--lightGray);
            }

            &:focus-visible {
                outline: 2px dashed var(--nonWhite);
                outline-offset: -6px;
            }
        }

        @media (min-width: 1024px) {
            flex: 1;
            background-color: rgb(47, 62, 70, 0.1);
            display: flex;
            flex-direction: column;
            backdrop-filter: blur(10px);
            position: relative;
            height: fit-content;
        }
    }

    &__details {
        background-color: var(--nonWhite);
        flex: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 480px;
        max-width: calc(100vw - 3rem);
        margin: 0 auto;
        padding: 1rem;

        @media (min-width: 768px) {
            max-width: calc(100vw - 4rem);
            height: calc(64px * 7);
        }

        @media (min-width: 1024px) {
            max-width: none;
            padding: 2rem 1.5rem;
        }

        select {
            font-family: var(--font-inter);
            position: absolute;
            top: 120px;
            left: 1.5rem;
            background-color: var(--lightGray);
            padding: 0.5rem;

            @media (min-width: 1024px) {
                display: none;
            }
        }

        h2 {
            color: white;
            position: relative;
            left: 1.5rem;
        }

        &__content {
            display: none;

            &__text {
                h3, h4 {
                    color: var(--darkGray);
                    font-weight: 500;
                    margin-bottom: 1rem;
                }

                h4 {
                    font-style: italic;
                    color: var(--teal);
                }

                h3 {
                    font-family: var(--font-poppins);
                    font-size: 22px;
                    color: var(--darkGray);
                    margin-bottom: 1rem;

                    @media (min-width: 1024px) {
                        font-size: 32px;
                    }
                }

                h4 {
                    font-size: 22px;
                }

                p {
                    margin-bottom: 2rem;
                    font-size: 16px;
                    color: var(--darkGray);
                }

                ul {
                    padding-left: 1rem;
                    list-style: disc;
                    margin-bottom: 2rem;

                    li {
                        color: var(--darkGray);
                        margin-bottom: 0.5rem;
                        font-size: 16px;
                    }
                }
            }

            @media (min-width: 1024px) {
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                p {
                    font-size: 18px;
                }
            }

            a {
                align-self: flex-end;
            }
        }
    }

    &__mobile-carousel {
        display: block;
        width: 100%;
        height: 100%;

        @media (min-width: 1024px) {
            display: none;
        }

        div[class*="slick-slider"], div[class*="slick-list"], div[class*="slick-track"] {
            height: 440px;
        }

        &__slide {
            height: 400px;
            outline: none;

            &__content {
                margin-top: 1rem;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                height: 100%;

                h3 {
                    font-size: 22px;
                    margin-bottom: 1rem;
                    color: var(--darkGray);
                }

                h4 {
                    font-style: italic;
                    margin-bottom: 1rem;
                    color: var(--teal);
                }

                a {
                    align-self: center;
                }

                p {
                    color: black;
                }
            }
        }

        div[class*="slick-slider"] {
            ul[class*="slick-dots"] {
                button::before {
                    color: white;
                }
                bottom: -4rem;

                @media (min-width: 768px) {
                    bottom: -2.5rem;
                }
            }
        }
    }

    &__marquee {
        margin-top: 2rem;
        overflow: hidden;
        display: flex;
        gap: 1rem;

        &__inner {
            display: flex;
            gap: 1rem;
        }

        &__item {
            display: flex;
            gap: 1rem;
            white-space: nowrap;
            color: white;

            p, span {
                font-size: 14px;
                color: white;
                font-style: italic;
            }
        }

        @media (min-width: 1024px) {
            margin-top: 0;
        }
    }
}