.services {
    &__container {
        width: 100%;
        position: relative;
        z-index: 10;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 750px;
        margin-bottom: 100px;
        justify-content: center;

        @media (min-width: 768px) {
            height: 800px;
            
        }

        @media (min-width: 1024px) {
            height: 100vh;
            margin-bottom: 0;
        }

        h2 {
            color: white;
            margin: 0 auto;
        }
    }

    gap: 2rem;
    justify-content: space-between;
    align-items: stretch;
    flex-direction: column;

    @media (min-width: 1024px) {
        flex-direction: row;
    }
}