.hero {
    padding-top: 6rem;
    padding-bottom: 4rem;
    margin: 0 1.5rem;

    @media (min-width: 1024px) {
        padding-top: 10rem;
        padding-bottom: 6rem;
        max-width: 964px;
        margin: 0 auto;
    }

    &__breadcrumbs {
        font-size: 14px;
        color: var(--darkGray);
        margin-bottom: 2rem;

        a {
            color: var(--green);
            text-decoration: underline;
            cursor: pointer;

            &:focus-visible {
                outline: 2px dashed var(--marine);
                outline-offset: 2px;
            }
        }
    }

    &__header {
        display: flex;
        flex-direction: column;
        margin-bottom: 2rem;
        gap: 2rem;

        @media (min-width: 768px) {
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-end;
            gap: 0;
        }

        &__title {
            flex: 1;

            h1 {
                font-size: 22px;
                line-height: 1.35;
                font-weight: 500;
                color: var(--darkGray);
                margin-bottom: 0.2px;

                @media (min-width: 768px) {
                    font-size: 32;
                }

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        &__company-and-link {
            flex: 1;
            display: flex;
            flex-direction: row;
            align-items: flex-end;
            justify-content: space-between;
            gap: 1rem;

            @media (min-width: 768px) {
                flex-direction: column;
                align-items: flex-end;
            }

            &__company {
                font-family: var(--font-poppins);
                font-size: 18px;
                font-weight: 400;
                color: rgba(0, 0, 0, 0.5);

                @media (min-width: 768px) {
                    font-size: 22px;
                }
            }
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 2rem;

        @media (min-width: 768px) {
            flex-direction: row;
            justify-content: space-between;
            align-items: stretch;
        }

        &__summary {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            p {
                color: var(--darkGray);
            }

            &__arrow {
                display: none;
                align-items: center;
                gap: 0.5rem;
                overflow: hidden;
                height: 1.5rem;
                margin-top: 2rem;

                &:focus-visible {
                    outline: 2px dashed var(--marine);
                    outline-offset: 2px;
                }

                p {
                    font-size: 16px;
                    transition: opacity 0.2s var(--easy-does-it);
                }

                svg {
                    width: 12px;
                    height: 12px;
                    transform: rotate(135deg);
                    
                    path {
                        fill: var(--green);
                    }
                }

                &__arrows {
                    margin-top: 0.25rem;
                    align-self: flex-start;
                    display: flex;
                    flex-direction: column;
                    height: 2.5rem;
                    justify-content: space-between;
                    transition: transform 0.2s var(--easy-does-it);
                }

                @media (min-width: 768px) {
                    display: flex;
                }

                &:hover {
                    cursor: pointer;

                    .hero__content__summary__arrow__arrows {
                        transform: translateY(-28px);
                    }

                    p {
                        opacity: 0.75;
                    }
                }
            }
        }

        &__metrics {
            flex: 1;
            display: flex;
            flex-wrap: wrap;
            gap: 1rem;

            @media (min-width: 768px) {
                gap: 2rem;
            }
        }

        &__metrics__item {
            background-color: var(--lightGray);
            padding: 1rem;
            text-align: center;
            flex: 1;
            width: calc(50% - 1rem);
            min-width: calc(50% - 1rem);
            display: flex;
            flex-direction: column;
            gap: 0.5rem;

            h6 {
                font-size: 22px;
                font-weight: 600;
                color: var(--teal);
                font-style: italic;
            }

            p {
                color: var(--darkGray);
                line-height: 1.5;
                font-size: 16px;
            }
        }
    }
}

.two-columns {
    display: flex;
    flex-direction: column;
    margin-bottom: 4rem;
    gap: 1rem;

    @media (min-width: 1024px) {
        gap: 4rem;
        flex-direction: row;

        & > * {
            flex: 1;
            width: 50%;
        }
    }
}

.three-columns {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 4rem;

    @media (min-width: 1024px) {
        flex-direction: row;
        gap: 2rem;

        & > * {
            flex: 1;
            width: 33.33%;
        }
    }
}