.hero {
    padding-top: 10rem;
    padding-bottom: 6rem;

    &__breadcrumbs {
        font-size: 14px;
        color: var(--darkGray);
        margin-bottom: 2rem;

        a {
            color: var(--green);
            text-decoration: underline;
            cursor: pointer;
        }
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-bottom: 2rem;

        &__title {
            flex: 1;

            h1 {
                font-size: 32px;
                line-height: 1.35;
                font-weight: 500;
                color: var(--darkGray);
                margin-bottom: 0.2px;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        &__company-and-link {
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            gap: 1rem;

            &__company {
                font-family: var(--font-poppins);
                font-size: 22px;
                font-weight: 400;
                color: rgba(0, 0, 0, 0.5);
            }
        }
    }

    &__content {
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        gap: 2rem;

        &__summary {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            p {
                color: var(--darkGray);
            }

            &__arrow {
                display: flex;
                align-items: center;
                gap: 0.5rem;

                p {
                    font-size: 16px;
                }

                svg {
                    width: 12px;
                    height: 12px;
                    transform: rotate(135deg);
                    
                    path {
                        fill: var(--green);
                    }
                }
            }
        }

        &__metrics {
            flex: 1;
            display: flex;
            flex-wrap: wrap;
            gap: 2rem;
        }

        &__metrics__item {
            background-color: var(--lightGray);
            padding: 1rem;
            text-align: center;
            flex: 1;
            width: calc(50% - 1rem);
            min-width: calc(50% - 1rem);
            display: flex;
            flex-direction: column;
            gap: 0.5rem;

            h6 {
                font-size: 22px;
                font-weight: 600;
                color: var(--teal);
                font-style: italic;
            }

            p {
                color: var(--darkGray);
                line-height: 1.5;
                font-size: 16px;
            }
        }
    }
}

.two-columns {
    display: flex;
    gap: 2rem;
    margin-bottom: 4rem;

    & > * {
        flex: 1;
        width: 50%;
    }
}

.three-columns {
    display: flex;
    gap: 2rem;
    margin-bottom: 4rem;

    & > * {
        flex: 1;
        width: 33.33%;
    }
}