.hero {
    &__container {
        // position: relative;
        width: 100%;
        height: 750px;
        margin-bottom: 150px;

        @media (min-width: 768px) {
            height: 1000px;
            margin-bottom: 200px;
            
        }

        @media (min-width: 1024px) {
            height: 100vh;
            margin-bottom: 0;
        }
    }

    height: 100%;
    align-items: flex-start;
    padding-top: 10rem;

    @media (min-width: 500px) {
        padding-top: 0;
        align-items: center;
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        z-index: 10;
        width: 100%;

        @media (min-width: 1024px) {
            gap: 2rem;
        }

        &__title {
            font-family: var(--font-poppins);
            font-weight: 500;
            color: var(--darkGray);
            line-height: 1.15;

            h1 {
                font-size: 30px;

                @media (min-width: 390px) {
                    font-size: 32px;
                }

                @media (min-width: 768px) {
                    font-size: 48px;
                }

                @media (min-width: 1024px) {
                    font-size: 64px;
                }
            }
        }

        p {
            font-family: var(--font-inter);
            color: var(--darkGray);
            pointer-events: none;
            width: 100%;
            margin-bottom: 8px;
            width: 100%;

            @media (min-width: 768px) {
                width: 75%;
                margin-bottom: 0;
            }
            @media (min-width: 1024px) {
                width: 66%;
            }
        }

        &__ctas {
            z-index: 1;
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            gap: 2rem;

            @media (min-width: 768px) {
                gap: 2rem;
                flex-direction: row;
                align-items: center;
            }
        }
    }

    &__arrow {
        display: none;
        position: fixed;
        top: -24px;
        left: -24px;
        z-index: 50;
        background: var(--teal);
        height: 36px;
        width: 36px;
        border-radius: 50%;
        backdrop-filter: blur(5px);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
        transition: box-shadow 0.1s var(--easy-does-it), background 0.1s var(--easy-does-it);

        &:active {
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
            background: #496c63;
        }

        svg {
            // transform: rotate(-45deg) scale(0.5);
            transform: scale(0.5);

            path {
                fill: white
            }
        }

        @media (min-width: 1024px) {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &_initial {
            opacity: 0;
            visibility: hidden;
        }

        &_hidden {
            @media (min-width: 1024px) {
                animation: disappear 0.2s ease-in-out forwards;
            }
        }

        &_visible {
            cursor: pointer;
            animation: appear 0.2s ease-in-out forwards;

            svg {
                transition: transform 0.2s ease-in-out;
            }
        }
    }
}

.wheel {
    display: inline-block;
    height: 42px;
    width: min-content;
    vertical-align: bottom;
    margin-bottom: -3px;

    &__topics {
        height: 42px;
        overflow: hidden;

        span {
            display: block;
            white-space: nowrap;
            height: 100%;
        }
    }

    &__targets {
        display: none;
    }

    @media (min-width: 768px) {
        height: 62px;

        &__topics {
            height: 62px;

            span {
                padding-left: 2px;
            }
        }
    }

    @media (min-width: 1024px) {
        height: 80px;

        &__topics {
            height: 80px;

            span {
                padding-left: 4px;
            }
        }

        &__targets {
            position: absolute;
            top: 0;
            left: 0;
            height: 80px;
            width: 75%;
            display: flex;
            flex-direction: column;
            cursor: pointer;

            div {
                flex: 1;
                height: 100%;
                width: 100%;
            }
        }
    }
}

@keyframes appear {
    0% {
        opacity: 0;
        visibility: hidden;
    }
    1% {
        display: flex;
        visibility: visible;
    }
    100% {
        opacity: 1;
        visibility: visible;
    }
}

@keyframes disappear {
    0% {
        opacity: 1;
        visibility: visible;

    }
    99% {
        display: flex;
        visibility: visible;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}