.mobile-skills {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-top: 2rem;

    span {
        background-color: rgba(132, 169, 140, 0.15);
        color: var(--darkGray);
        padding: 4px 8px;
        border-radius: 4px;
        font-family: var(--font-inter);
        font-size: 12px;
    }
}

.about {
    width: 100%;
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
    gap: 6rem;
    margin-top: 120px;

    @media (min-width: 1024px) {
        gap: 10rem;
        margin-top: 160px;
    }

    &__left {
        flex: 1;
        height: fit-content;
        display: none;

        @media (min-width: 1024px) {
            display: block;
        }

        &__photo-frame {
            aspect-ratio: 0.8;
            height: fit-content;
            background-color: var(--lightGray);
            box-shadow: var(--shadow-xl);
            border-radius: 6px;
        }

        &__skills {
            display: flex;
            flex-wrap: wrap;
            gap: 0.5rem;
            margin-top: 2rem;

            span {
                background-color: rgba(132, 169, 140, 0.15);
                color: var(--darkGray);
                padding: 4px 8px;
                border-radius: 4px;
                font-family: var(--font-inter);
                font-size: 12px;
            }
        }
    }

    &__right {
        flex: 2;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;

        &__mobile-photo-container {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1rem;
        }

        &__mobile-photo-frame {
            display: block;
            aspect-ratio: 1.25;
            height: fit-content;
            background-color: var(--lightGray);
            box-shadow: var(--shadow-xl);
            min-height: 200px;
            width: calc(50vw - 40px);
            height: 100%;
            max-width: calc(50vw - 40px);

            img {
                object-fit: cover;
            }

            @media (min-width: 1024px) {
                display: none;
            }
        }

        &__mobile-skills {
            margin-top: 2rem;
            
            @media (min-width: 1024px) {
                display: none;
            }
        }

        &__title {
            &__desktop {
                overflow: hidden;
                margin-bottom: 1rem;
                display: none;

                @media (min-width: 1024px) {
                    display: block;
                }
            }
            
            &__mobile {
                overflow: hidden;
                margin-bottom: 1rem;
                display: block;
                width: 120px;

                @media (min-width: 768px) {
                    width: 200px;
                }

                @media (min-width: 1024px) {
                    display: none;
                }
            }
        }

        p {
            color: var(--darkGray);
        }
    }

    &-name {
        display: flex;
        flex-direction: column-reverse;
        gap: 2rem;

        h3 {
            font-family: var(--font-poppins);
            font-weight: 500;
            font-size: 22px;
            color: var(--darkGray)
        }

        &__content {
            flex: 2;
            display: flex;
            flex-direction: column;
            gap: 1rem;
        }

        &__img {
            position: relative;
            flex: 1;
            background-color: var(--lightGray);
            min-height: 200px;
        }

        @media (min-width: 1024px) {
            flex-direction: row-reverse;

            &__img {
                min-height: none;
            }
        }
    }

    &__cta {
        margin-top: 2rem;
        align-self: flex-end;
        display: flex;
        position: absolute;
        bottom: 0;
        align-self: center;

        @media (min-width: 1024px) {
            left: 0;
        }
    }
}

.work-experience-container {
    position: relative;
    padding-left: 1.5rem;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 1px;
        height: 100%;
        background-color: var(--green);
        z-index: 1;
    }
}