.project-section-title {
  margin-bottom: 1rem;
}

.section-text {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

@media (min-width: 1024px) {
    .section-text {
        gap: 4rem;
    }
}
.image-container {
    position: relative;
    width: 100%;
    height: 0;
}

.video-container {
    position: relative;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.image-container-full-width-height {
    position: relative;
    width: 100%;
    height: auto;
    margin-bottom: 4rem;
}


.jagged-divider-container {
    display: flex;
    justify-content: center;
    margin: 6rem;
}

.semi-bold {
    font-weight: 600;
    /* color: var(--darkGray); */
    margin-bottom: 0.5rem;
}

.marine-strong {
    color: var(--marine);
    font-weight: 700;
}

.light-header {
    color: rgba(0, 0, 0, 0.25);
    margin-bottom: 0.5rem;
}

.portfolio-sub-hero {
    position: relative;
    margin-bottom: 64px;
}

@media (min-width: 1024px) {
    .portfolio-sub-hero {
        margin-bottom: 96px;
    }
}

.portfolio-sub-hero img {
    object-fit: cover;
}
.portfolio-sub-hero p strong {
    color: white;
}

.portfolio-sub-hero p {
    color: rgba(255, 255, 255, 0.9);
}

strong {
    display: inline-block;
    margin-bottom: 0.5rem;
    /* color: var(--darkGray); */
}

ul {
    list-style: disc;
    padding-left: 1.5rem;

    li {
        margin-bottom: 0.5rem;
    }
}

a {
    width: fit-content;
}

img {
    box-shadow: 0 10px 24px rgba(0, 0, 0, 0.05);
}