.floating-link {
    display: flex;
    gap: 0.5rem;
    color: white;
    position: relative;
    border-radius: 50%;

    * {
        pointer-events: none;
    }

    svg {
        filter: invert(1);
    }

    &.boxy {
        border-radius: 6px;
    }

    @media (min-width: 1024px) {
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);

        svg {
            filter: invert(0);
        }
    }


    &__svg-container {
        z-index: 20;
        height: 30px;
        width: 30px;
        border-radius: 50%;
        position: absolute;
        right: -24px;
        top: 0px;
        display: none;

        @media (min-width: 1024px) {
            display: block;
        }

        svg {
            width: 100%;
            height: 100%;
            opacity: 0;
            padding: 1px;
            background-color: white;
            border-radius: 50%;

            circle {
                transform-origin: center;
                transform: rotate(-90deg);
                transition: stroke-dashoffset 0.25s ease-out;
                stroke-dasharray: 251.2;
                stroke-dashoffset: 251.2;
            }
        }
    }

    &:focus-visible {
        outline: 2px dashed var(--marine);
        outline-offset: 6px;
    }

    &:hover, &:focus-visible {
        svg {
            opacity: 1;
        
            circle {
                stroke-dashoffset: 0;
            }
        }
    }
}