@import "tailwindcss";

:root {
  --background: #F8F9FA;
  --foreground: #171717;

  --nonWhite: #F8F9FA;
  --lightGray: #E9ECEF;
  --green: #84A98C;
  --teal: #52796F;
  --marine: #354F52;
  --deepMarine: #2F3E46;
  --darkGray: #343A40;

  --font-sans: var(--font-inter);
  --font-header: var(--font-poppins);
  --font-alt: var(--font-playfair);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
  --font-header: var(--font-poppins);
  --font-alt: var(--font-playfair);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
