@import "tailwindcss";

:root {
  --background: #F8F9FA;
  --foreground: #171717;

  --nonWhite: #F8F9FA;
  --lightGray: #E9ECEF;
  --green: #84a98c;
  --teal: #52796F;
  --marine: #354F52;
  --deepMarine: #2F3E46;
  --darkGray: #343A40;

  --font-sans: var(--font-inter);
  --font-header: var(--font-poppins);
  --font-alt: var(--font-playfair);

  --easy-does-it: cubic-bezier(0.25, 0.8, 0.25, 1);

  --lg: 1024px;
  --md: 1024px;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
  --font-header: var(--font-poppins);
  --font-alt: var(--font-playfair);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--nonWhite);
  color: var(--foreground);
  font-family: var(--font-inter);
  width: 100%;
}

* {
  /* font-family: var(--font-inter); */
}

.slice {
  width: 100%;
  max-width: none;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin: 0 auto;
  display: flex;

  @media (min-width: 768px) {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  @media (min-width: 1024px) {
    max-width: 964px;
    padding-left: 0;
    padding-right: 0;
  }
}

.slice-title {
  font-family: var(--font-poppins);
  font-size: 32px;
  font-weight: 500;
  color: var(--darkGray);

  @media (min-width: 1024px) {
    font-size: 48px;
  }
}

p, li {
  font-family: var(--font-inter);
  font-size: 16px;
  color: var(--darkGray);
  line-height: 1.5;

  @media (min-width: 1024px) {
    font-size: 18px;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-poppins);
  line-height: 1.15;
  font-weight: 500;
}

h1 {
  font-size: 30px;
  color: var(--darkGray);

  @media (min-width: 390px) {
      font-size: 32px;
  }

  @media (min-width: 768px) {
      font-size: 48px;
  }

  @media (min-width: 1024px) {
      font-size: 64px;
  }

  @media (min-width: 1024px) {
      font-size: 64px;
  }
}

h2 {
  font-size: 24px;
  color: var(--darkGray);

  @media (min-width: 1024px) {
      font-size: 32px;
  }
}

h3 {
  font-size: 22px;
  color: var(--darkGray);
  line-height: 1.25;

  @media (min-width: 1024px) {
      font-size: 22px;
  }
}

h4 {
  font-size: 20px;
  color: var(--darkGray);

  @media (min-width: 1024px) {
      font-size: 24px;
  }
}

.image-caption {
  display: block;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
  text-align: center;
  margin-top: 0.5rem;
  font-style: italic;
}

.marine-strong {
  color: var(--deepMarine);
  font-weight: 700;
}

strong {
  display: inline-block;
  margin-bottom: 0.5rem;
  /* color: var(--darkGray); */
}

ul {
  list-style: disc;
  padding-left: 1.5rem;

  li {
      margin-bottom: 0.5rem;
  }
}