@import "tailwindcss";

:root {
  --background: #F8F9FA;
  --foreground: #171717;

  --nonWhite: #F8F9FA;
  --lightGray: #E9ECEF;
  --green: #84a98c;
  --teal: #52796F;
  --marine: #354F52;
  --deepMarine: #2F3E46;
  --darkGray: #343A40;

  --font-sans: var(--font-inter);
  --font-header: var(--font-poppins);
  --font-alt: var(--font-playfair);

  --easy-does-it: cubic-bezier(0.25, 0.8, 0.25, 1);

  --lg: 1024px;
  --md: 1024px;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
  --font-header: var(--font-poppins);
  --font-alt: var(--font-playfair);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter);
}

* {
  /* font-family: var(--font-inter); */
}

.slice {
  width: 100%;
  max-width: none;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin: 0 auto;
  display: flex;

  @media (min-width: 768px) {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  @media (min-width: 1024px) {
    max-width: 964px;
    padding-left: 0;
    padding-right: 0;
  }
}

.slice-title {
  font-family: var(--font-poppins);
  font-size: 48px;
  font-weight: 500;
  color: var(--darkGray);
}

p {
  font-family: var(--font-inter);
  font-size: 18px;
  color: var(--darkGray);
  line-height: 1.5;
 }