.video {
    width: 100%;
    background-color: black;
    z-index: 1;
    position: relative;
    margin-bottom: 6rem;

    iframe {
        aspect-ratio: 1.83;
        width: 100%;
        height: 100%;
        object-fit: cover;
        pointer-events: none;
    }

    &__blur {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        z-index: -1;
        height: 100%;
        transition: backdrop-filter 0.5s, z-index 0.5s;
        backdrop-filter: blur(0px);

        &-active {
            z-index: 10;
            backdrop-filter: blur(16px);
        }
    }

    &__cover {
        z-index: -1;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        cursor: pointer;
        opacity: 0;

        &:focus-visible {
            outline: 2px dashed var(--marine);
            outline-offset: 6px;

            .work__video__cover__play {
                background-color: black;
                outline: none;

                svg {
                    fill: var(--nonWhite);
                }
            }
        }

        &-active {
            opacity: 1;
            z-index: 10;
            transition: opacity 0.3s;
            transition-delay: 0.3s;
        }

        &__play {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding: 2rem;
            border-radius: 50%;
            
            svg {
                fill: white;
                transition: fill 0.3s var(--easy-does-it);

                @media (min-width: 1024px) {
                    fill: white;
                }
            }
        }

        &:hover {
            svg {
                fill: rgba(255, 255, 255, 0.7);
            }
        }
    }

    &__close {
        position: absolute;
        top: 1rem;
        right: 1rem;
        z-index: 1;
        background-color: white;
        border-radius: 50%;
        padding: 0.5rem;
        height: 2rem;
        width: 2rem;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        svg {
            stroke: black;
        }

        &:hover, &:focus-visible {
            background-color: var(--lightGray);
        }

        &:focus-visible {
            outline: 2px dashed var(--nonWhite);
            outline-offset: 4px;
        }
    }

    &__controls {
        &__container {
            position: relative;
            width: 100%;
            z-index: 10;
        }

        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        gap: 1rem;
        padding: 0rem 1rem 0.75rem 1rem;
        background-color: black;

        svg {
            transition: brightness 0.15s var(--easy-does-it);
            fill: var(--green);
        }

        button {
            height: 2rem;
            cursor: pointer;

            &:hover, &:focus-visible {
                svg {
                    filter: brightness(0.8);
                }
            }

            &:focus-visible {
                outline: 2px dashed var(--nonWhite);
                outline-offset: 2px;
            }
        }

        &__scrubber {
            width: 100%;
            height: 0.5rem;
            background: linear-gradient(to top, rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.2));
            cursor: pointer;
            border-radius: 0.5rem;
            position: relative;
            transition: height 0.3s;

            &:hover, &:focus-visible {
                height: 1rem;
            }

            &:focus-visible {
                outline: none;
                
                .work__video__controls__scrubber__progress {
                    outline: 2px dashed var(--nonWhite);
                    outline-offset: 2px;
                }
            }

            &__progress {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                background-color: var(--green);
                border-radius: 0.5rem;
            }
        }
    }
}