.footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    width: fit-content;
    padding-bottom: 1rem;
    height: 228px;
    width: 100%;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    min-height: 228px;

    a, button {
        &:focus-visible {
            outline: 2px dashed var(--nonWhite);
            outline-offset: 4px;
        }
    }

    @media (min-width: 1024px) {
        height: 50%;
        max-width: 964px;
        min-height: 216px;
        padding-left: 0;
        padding-right: 0;
    }
    
    &__container {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        position: relative;
        z-index: 9999999999;
        width: 100%;
        height: 100%;
    }

    &__top-row {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;
        width: 100%;
        margin-bottom: 1.5rem;

        ul {
            display: flex;
            align-items: center;
            gap: 1rem;
            list-style: none;

            a {
                color: white;
                font-weight: 400;

                &:hover {
                    color: rgba(255, 255, 255, 0.7);
                }
            }
        }

        svg {
            width: 100px;
            height: auto;
        }

        @media (min-width: 1024px) {
            gap: 2rem;

            svg {
                width: unset;
                height: unset;
            }
        }
    }

    &__bottom-row {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        gap: 2rem;

        @media (max-width: 480px) {
            flex-direction: column;
            gap: 1rem;
        }

        p {
            font-size: 14px;
            color: white;
            text-align: center;
        }

        .privacy-button {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0.5rem;
            cursor: pointer;

            &:hover p {
                color: rgba(255, 255, 255, 0.7);
            }
        }
    }
}