.blogs {
    &__container {
        width: 100%;
        height: 100%;
        padding-top: 120px;
        position: relative;
        z-index: 2;

        @media (min-width: 1024px) {
            padding-top: 160px;
        }
    }

    gap: 2rem;
    flex-direction: column;

    &__title {
        overflow: hidden;
        margin-bottom: 1rem;
    }

    &__list {
        display: flex;
        gap: 2rem;
        flex-direction: column;

        @media (min-width: 1024px) {
            flex-direction: row;
            flex-wrap: wrap;
        }
    }
}

.blog-card {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: .5rem;

    @media (min-width: 1024px) {
        width: calc(50% - 1rem);
        margin-bottom: 3rem;
        gap: 1rem;
    }

    &__image {
        position: relative;
        width: 100%;
        aspect-ratio: 1.4;
        margin-bottom: .5rem;
        overflow: hidden;
        box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.05);

        img {
            width: 100%;
            height: auto;
            object-fit: cover;
            transition: transform 0.7s var(--easy-does-it);
        }

        @media (min-width: 1024px) {
            margin-bottom: 1rem;
        }
    }

    &:hover, &:focus-visible {
        .blog-card__image img {
            transform: scale(1.05);
        }
    }

    &:focus-visible {
        outline: 2px dashed var(--marine);
        outline-offset: 6px;
    }

    &__title {
        font-family: var(--font-poppins);
        font-weight: 500;
        font-size: 18px;
        color: black;

        @media screen and (min-width: 1024px) {
            font-size: 22px;
        }
    }

    span {
        font: var(--font-inter);
        color: var(--marine);
    }
}

.jagged-divider {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 80px 0;
    transform: scale(0.75);
    z-index: 2;
    position: relative;

    @media (min-width: 1024px) {
        transform: scale(1);
        margin: 124px 0;
    }
}