.blogs {
    &__container {
        width: 100%;
        height: 100vh;
    }

    gap: 2rem;
    flex-direction: column;

    &__title {
        overflow: hidden;
        margin-bottom: 1rem;
    }
}

.blog-card {
    margin-bottom: 3rem;
    position: relative;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 6px;

    &__image {
        // relative w-full aspect-[1.35] mb-2
        position: relative;
        width: 100%;
        aspect-ratio: 1.4;
        margin-bottom: 1rem;
        overflow: hidden;
        border-radius: 6px;

        img {
            width: 100%;
            height: auto;
            object-fit: cover;
            transition: transform 0.7s var(--easy-does-it);
        }
    }

    &:hover, &:focus-visible {
        .blog-card__image img {
            transform: scale(1.05);
        }
    }

    &:focus-visible {
        outline: 2px dashed var(--marine);
        outline-offset: 6px;
    }
}

.jagged-divider {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 124px 0;
}