.logo {
    font-size: 32px;
    font-weight: 500;
    line-height: 1;
    color: var(--darkGray);
    cursor: pointer;

    @media (min-width: 1024px) {
        font-size: 52px;
    }

    span {
        transition: color 0.5s var(--easy-does-it);
    }

    &:focus-visible {
        outline: 2px dashed var(--marine);
    }
}

.burger {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: max-content;
    z-index: 20;
    cursor: pointer;
    position: relative;
    margin-top: .25rem;

    @media (min-width: 1024px) {
        margin-top: 1rem;
    }

    &::after, &::before, input {
        content: "";
        width: 30px;
        height: 1px;
        background-color: var(--deepMarine);
        transform-origin: center;
        transition: 
            opacity 0.5s var(--easy-does-it), 
            width 0.5s var(--easy-does-it), 
            transform 0.5s var(--easy-does-it),
            background-color 0.5s var(--easy-does-it);
    }

    input {
        appearance: none;
        padding: 0;
        margin: 0;
        outline: none;
        pointer-events: none;

        &:checked {
            opacity: 0;
            width: 0;
        }
    }

    &:has(input:checked) {
        &::after, &::before, input {
            background-color: white;
        }

        &::after {
            transform: translateY(-11px) rotate(45deg);
        }

        &::before {
            transform: translateY(11px) rotate(-45deg);
        }
    }

    &:has(input:focus-visible) {
        outline: 2px dashed var(--marine);
        outline-offset: 6px;

        &:has(input:checked) {
            outline: 2px dashed var(--nonWhite);
        }
    }
}

.burger-container {
    &.light-theme {
        .burger {
            &::after, &::before, input {
                background-color: var(--lightGray);
            }
        }
    }

    .sidebar {
        z-index: 0;
        position: fixed;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        width: 100vw;
        min-width: none;
        height: auto;
        top: 0;
        right: 0;
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.5s var(--easy-does-it), transform 0.5s var(--easy-does-it);
        background-color: var(--darkGray);
        box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.3);
        padding: 6rem 2rem 4rem 2rem;
        transform: translateY(-12px);

        &__inner {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: start;
            gap: 1rem;
        }

        @media (min-width: 768px) {
            flex-direction: column-reverse;
            width: calc(50vw - 408px);
            min-width: 400px;
            height: 100vh;
            padding: 6rem 2rem;
        }

        :nth-child(1),
        :nth-child(2),
        :nth-child(3),
        :nth-child(4) {
            transform: translateY(-8px);
            transition: transform 0.5s ease;
            transition-delay: 0s;
        }

        button {
            padding: 4px 0;
            cursor: pointer;
            font-family: var(--font-poppins);
            font-weight: 500;
            font-size: 22px;
            position: relative;
            display: flex;
            align-items: center;
            gap: 1rem;
            color: white;

            &:focus-visible {
                outline: 2px dashed var(--nonWhite);
                outline-offset: 4px;
            }

            :nth-child(2) {
                color: rgba(255, 255, 255, 0.5);
            }

            &::after {
                content: "";
                display: block;
                position: absolute;
                bottom: 0;
                right: 0;
                width: 0;
                height: 1px;
                background-color: var(--green);
                transition: width 0.3s ease;
            }

            &:hover, &:focus-visible {
                &::after {
                    width: 100%;
                }
            }
        }
    }

    &:has(input:checked) {
        .sidebar {
            opacity: 1;
            pointer-events: all;
            transform: translateX(0px);

            :nth-child(1),
            :nth-child(2),
            :nth-child(3),
            :nth-child(4) {
                transition: transform .5s ease;
                transform: translateX(0px);
            }

            :nth-child(1) {
                transition-delay: 0s;
            }
            :nth-child(2) {
                transition-delay: 0.075s;
            }
            :nth-child(3) {
                transition-delay: 0.15s;
            }
            :nth-child(4) {
                transition-delay: 0.225s;
            }
        }
    }

    @media (min-width: 1024px) {
        width: fit-content;
        height: fit-content;
        right: 0;
        max-width: 964px;

        label, input {
            display: none;
        }

        
        &.light-theme .sidebar button {
            span {
                color: var(--lightGray);
            }

            :nth-child(2) {
                color: rgba(220, 220, 220, 0.25);
            }
        }
        

        .sidebar {
            opacity: 1;
            z-index: 10;
            right: 0;
            width: fit-content;
            height: fit-content;
            padding: 0;
            top: 2rem;
            position: relative;
            pointer-events: all;
            background-color: transparent;
            box-shadow: none;
            top: 0;
            left: 0;
            right: unset;
            min-width: 0;
            transform: none;
            flex-direction: row;
            align-items: flex-start;

            &__inner {
                flex-direction: row;
            }

            .social-links {
                display: none;
            }

            :nth-child(1),
            :nth-child(2),
            :nth-child(3),
            :nth-child(4) {
                transform: translateX(0px);
                transition: color 0.5s var(--easy-does-it);
            }

            button {
                color: var(--darkGray);
                font-size: 18px;
                flex-direction: row-reverse;
                gap: 0.5rem;

                &:focus-visible {
                    outline: 2px dashed var(--marine);
                    outline-offset: 4px;
                }

                :nth-child(2) {
                    font-weight: 400;
                    color: rgba(0, 0, 0, 0.25);
                }
            }
        }
    }
}

#logo button span {
    transition: color 0.5s var(--easy-does-it);
}

.light-theme {
    span {
        color: var(--lightGray);
    }
}

.skip-to-main {
    pointer-events: none;

    &__container {
        pointer-events: none;
        position: fixed;
        z-index: 21474836444;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        width: 100%;
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
        transition: background-image 0.2s var(--easy-does-it);

        &:focus-within {
            background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
        }
    }

    margin-top: 5rem;
    opacity: 0;
    padding: 0.5rem 2rem;
    width: fit-content;
    background-color: black;
    color: white;
    transition: all 0.2s ease-in-out;

    &:focus {
        margin-top: 7rem;
        opacity: 1;
        outline: 1px solid black;
        outline-offset: 6px;
        outline-style: dashed;
    }
}