.work {
    flex-direction: column;
    gap: 2rem;

    &__container {
        width: 100%;
        position: relative;
        z-index: 10;
        margin-bottom: 112px;
    }

    &__top-row {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        color: var(--deepMarine);
        overflow: hidden;

        h3 {
            font-family: var(--font-poppins);
            font-size: 22px;
            font-weight: 500;
        }

        span {
            font-size: 18px;
        }
    }
}