.link {
    background-color: var(--deepMarine);
    width: fit-content;
    color: white;
    font-family: var(--font-poppins);
    font-weight: 500;
    font-size: 16px;
    padding: 8px 24px;
    border-radius: 4px;
    box-shadow: 0px 8px 16px rgba(47, 62, 70, 0.1);
    transition: background-color 0.2s var(--easy-does-it);
    cursor: pointer;

    &:focus-visible {
        outline: 2px dashed var(--marine);
        outline-offset: 6px;
    }

    &:hover, &:focus-visible {
        background-color: var(--marine);
    }

    @media (min-width: 1024px) {
        font-size: 18px;
        padding: 8px 32px;
    }

    &__arrow {
        display: inline-block;
        fill: var(--green);
        margin-left: 0.75rem;
        padding: 2px;
    }

    &_secondary {
        background-color: var(--nonWhite);
        border: 1px solid var(--deepMarine);
        box-shadow: 0px 5px 10px rgba(47, 62, 70, 0.06);
        color: var(--deepMarine);
        padding: 6px 24px;

        &:focus-visible {
            outline: 2px dashed var(--marine);
            outline-offset: 6px;
        }

        &:hover, &:focus-visible {
            background-color: var(--lightGray);
        }

        @media (min-width: 1024px) {
            padding: 6px 32px;
        }
    }
}

.secondary-link {
    display: block;
    position: relative;
    margin-right: 8px;
    text-align: center;

    p {
        display: inline;
        font-family: var(--font-poppins);
    }

    svg {
        margin-left: .5rem;
        display: inline;
        padding: 2px;
        margin-bottom: 2px;
        transition: background-color 0.2s var(--easy-does-it);

        path {
            transition: fill 0.2s var(--easy-does-it);
            fill: var(--teal);
        }
    }

    &::after {
        content: "";
        position: absolute;
        bottom: -.25rem;
        right: 0;
        width: 0%;
        height: 1px;
        background-color: var(--teal);
        transition: width 0.5s var(--easy-does-it);
    }

    &:hover, &:focus-visible {
        @media (min-width: 1024px) {
            &::after {
                width: 100%;
            }
    
            svg {
                background-color: var(--teal);
    
                path {
                    fill: var(--nonWhite)
                }
            } 
        }
    }

    &:focus-visible {
        outline: 2px dashed var(--marine);
        outline-offset: 6px;
    }

    &_light {
        p {
            font-weight: 500;
            font-family: var(--font-poppins);
            color: var(--nonWhite);
        }

        svg path {
            fill: var(--green);
        }

        &::after {
            background-color: var(--green);
        }

        @media (min-width: 1024px) {
            &:hover, &:focus-visible {    
                svg {
                    background-color: var(--green);
        
                    path {
                        fill: var(--nonWhite)
                    }
                }
            }
        }
    
        &:focus-visible {
            outline: 2px dashed var(--nonWhite);
        }

        @media (max-width: 1023px) {
            padding: .5rem 1rem;
            background-color: var(--nonWhite);
            border-radius: 4px;

            p {
                font-size: 16px;
                color: var(--deepMarine);
            }

            svg path {
                fill: var(--teal);
            }
        }
    }
}